
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(wood.jpg);
    background-size: cover; 
}

.flex-container {
    display: flex;
    position: absolute;
    height: 540px;
    width: 40%;
    margin: 15px;
    left: 5%;
    top: 15%;
    align-items: baseline;
    background-color: rgba(245, 245, 245, 0.76);
    background-image: url(sparkle.jpg);
    box-shadow: 0px 0px 19px 5px  rgb(92, 91, 91);
    background-size: cover; 
}

.flex-container div {
    background: none; 
    margin: 15px;
}

p {
    font-family: sans-serif;
    color: cornsilk;
    text-align: justify;
}

.proj li {
    line-height: 25px;
    color: rgb(211, 187, 92);
}

.proj a {
    text-decoration: none;
    color: cornsilk;
}

.form form{
    position: absolute;
    top: 50%;
    left: 57%;
    width: 50%;
    transform: translate(-21%, -35%);
    background: none;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
    height: 52%;
    background: transparent;
    background: rgba(0,0,0,.5);
    /* position: relative;
    width: 100%;
    border: solid;
    box-sizing: border-box;
    padding: 0px;
    text-align: center; */
    }

    .form input {
        position: absolute;
        margin: 15px;
        left: 10px;
        width: 80%;
        border: none;
        border-bottom: 1px solid #fff;
        background: none;
        color: white;
    }

    .form textarea {
        position: absolute;
        height: 130px;
        width: 200px;
        top: 40%;
        left: 11%;
        color: black;
    }

    .form h3 {
        text-align: center;
        color: cornsilk;
    }

    button {
        position: absolute;
        background: transparent;
        top: 90%;
        background: #03a9f4;
        border: none;
        outline: none;
        border-radius: 5px;
        left: 30px;
        height: 25px;
        box-shadow: 2px 2px 2px 1px black;
        color: white;
    }

.flex-container1 {
    display: flex;
    position: absolute;
    left: 42%;
    background-color: rgba(255, 255, 255, 0.884);
    width: 50%;
    /*  margin-left: 15px; */
    height: 650px;
    border-radius: 5px;
    background-image: url(drop1.jpg);
    box-shadow: 0px 0px 19px 5px  rgb(92, 91, 91);
    background-size: cover; 
}

.flex-container1 .fix {
    margin:  25px 100px;
    line-height: 25px;
}

.flex-container1 .fix img {
    position: relative;
    float: right;
    left: 20%;
    height: 230px;
    width: 250px;
}

.flex-container1 .fix p {
    color: black;
    
}

.flex-container1 .about {
    margin: 55px 100px;
    position: absolute;
    top: 35%;
    line-height: 25px;
} 

/* .flex-container1 .about h3 {
    color: cornsilk;
    text-shadow: 2px 2px 10px #000000;
} 

.flex-container1 .about p {
    color: black;
} */

/* .flex-container1 div img {
    position: relative;
    padding: 20px;
    float: right;
    left: 26%;
    height: 230px;
    width: 250px;
} */
